@model IEnumerable<Prueba_v1.Models.dbModels.Categorium>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutAdm";
}
<head>
    <script src="https://kit.fontawesome.com/194667a566.js" crossorigin="anonymous"></script>
          
</head>
<body>
<h1>Index</h1>

<p>
    <a asp-action="Create"><i class="fas fa-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripción)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripción)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCategoria"><i class="fa fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdCategoria"><i class="fa fa-info-circle"></i> </a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCategoria"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>